{
  "extends": [
    "next",
    "next/core-web-vitals",
    "plugin:storybook/recommended",
    "prettier"
  ],
  "plugins": ["react", "prettier", "testing-library"],
  "overrides": [
    {
      "files": [
        "**/__tests__/**/*.[jt]s?(x)",
        "**/?(*.)+(spec|test).[jt]s?(x)"
      ],
      "extends": ["plugin:testing-library/react"]
    }
  ],
  "rules": {
    "prettier/prettier": ["error"],
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "no-undef": "off",
    "no-unused-vars": "warn",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "react/no-unescaped-entities": "off",
    "@next/next/no-page-custom-font": "off"
  }
}
